{{define "content"}}
    <div class="container">
        <h1 class="title">Done</h1>
        <p>To get information about the status of your application please contact your administrator.</p>
    </div>
{{end}}
